In [1]:
import pandas as pd
import numpy as np

This module we'll be looking at the New York City tree census. This data was provided by a volunteer driven census in 2015, and we'll be accessing it via the socrata API. The main site for the data is [here](https://data.cityofnewyork.us/Environment/2015-Street-Tree-Census-Tree-Data/uvpi-gqnh), and on the upper right hand side you'll be able to see the link to the API.

The data is conveniently available in json format, so we should be able to just read it directly in to Pandas:

In [2]:
url = 'https://data.cityofnewyork.us/resource/nwxe-4ae8.json'
trees = pd.read_json(url)
trees.head(10)

,address,bbl,bin,block_id,boro_ct,borocode,boroname,brch_light,brch_other,brch_shoe,...,tree_dbh,tree_id,trnk_light,trnk_other,trunk_wire,user_type,x_sp,y_sp,zip_city,zipcode
0,108-005 70 AVENUE,4.022210e+09,4052307.0,348711,4073900,4,Queens,No,No,No,...,3,180683,No,No,No,TreesCount Staff,1.027431e+06,202756.7687,Forest Hills,11375
1,147-074 7 AVENUE,4.044750e+09,4101931.0,315986,4097300,4,Queens,No,No,No,...,21,200540,No,No,No,TreesCount Staff,1.034456e+06,228644.8374,Whitestone,11357
2,390 MORGAN AVENUE,3.028870e+09,3338310.0,218365,3044900,3,Brooklyn,No,No,No,...,3,204026,No,No,No,Volunteer,1.001823e+06,200716.8913,Brooklyn,11211
3,1027 GRAND STREET,3.029250e+09,3338342.0,217969,3044900,3,Brooklyn,No,No,No,...,10,204337,No,No,No,Volunteer,1.002420e+06,199244.2531,Brooklyn,11211
4,603 6 STREET,3.010850e+09,3025654.0,223043,3016500,3,Brooklyn,No,No,No,...,21,189565,No,No,No,Volunteer,9.909138e+05,182202.4260,Brooklyn,11215
5,8 COLUMBUS AVENUE,1.011310e+09,1076229.0,106099,1014500,1,Manhattan,No,No,No,...,11,190422,No,No,No,Volunteer,9.884187e+05,219825.5227,New York,10023
6,120 WEST 60 STREET,1.011310e+09,1076229.0,106099,1014500,1,Manhattan,No,No,No,...,11,190426,No,No,No,Volunteer,9.883112e+05,219885.2785,New York,10023
7,311 WEST 50 STREET,1.010410e+09,1086093.0,103940,1012700,1,Manhattan,No,No,No,...,9,208649,No,No,No,Volunteer,9.877691e+05,217157.8561,New York,10019
8,65 JEROME AVENUE,NaN,NaN,407443,5006400,5,Staten Island,No,No,No,...,6,209610,No,No,No,TreesCount Staff,9.630732e+05,156635.5542,Staten Island,10305
9,638 AVENUE Z,3.072350e+09,3320727.0,207508,3037402,3,Brooklyn,No,No,No,...,21,192755,No,No,No,TreesCount Staff,9.926537e+05,152903.6306,Brooklyn,11223

Looks good, but lets take a look at the shape of this data:

In [3]:
trees.shape

(1000, 45)

1000 seems like too few trees for a city like New York, and a suspiciously round number. What's going on?

Socrata places a 1000 row limit on their API. Raw data is meant to be "paged" through for applications, with the expectation that a UX wouldn't be able to handle a full dataset. 

As a simple example, if we had a mobile app with limited space that only displayed trees 5 at a time, we could view the first 5 trees in the dataset with the url below:

In [4]:
firstfive_url = 'https://data.cityofnewyork.us/resource/nwxe-4ae8.json?$limit=5&$offset=0'
firstfive_trees = pd.read_json(firstfive_url)
firstfive_trees

,address,bbl,bin,block_id,boro_ct,borocode,boroname,brch_light,brch_other,brch_shoe,...,tree_dbh,tree_id,trnk_light,trnk_other,trunk_wire,user_type,x_sp,y_sp,zip_city,zipcode
0,108-005 70 AVENUE,4022210001,4052307,348711,4073900,4,Queens,No,No,No,...,3,180683,No,No,No,TreesCount Staff,1027431.148,202756.7687,Forest Hills,11375
1,147-074 7 AVENUE,4044750045,4101931,315986,4097300,4,Queens,No,No,No,...,21,200540,No,No,No,TreesCount Staff,1034455.701,228644.8374,Whitestone,11357
2,390 MORGAN AVENUE,3028870001,3338310,218365,3044900,3,Brooklyn,No,No,No,...,3,204026,No,No,No,Volunteer,1001822.831,200716.8913,Brooklyn,11211
3,1027 GRAND STREET,3029250001,3338342,217969,3044900,3,Brooklyn,No,No,No,...,10,204337,No,No,No,Volunteer,1002420.358,199244.2531,Brooklyn,11211
4,603 6 STREET,3010850052,3025654,223043,3016500,3,Brooklyn,No,No,No,...,21,189565,No,No,No,Volunteer,990913.775,182202.4260,Brooklyn,11215

If we wanted the next 5, we would use this url:

In [5]:
nextfive_url = 'https://data.cityofnewyork.us/resource/nwxe-4ae8.json?$limit=5&$offset=5'
nextfive_trees = pd.read_json(nextfive_url)
nextfive_trees

,address,bbl,bin,block_id,boro_ct,borocode,boroname,brch_light,brch_other,brch_shoe,...,tree_dbh,tree_id,trnk_light,trnk_other,trunk_wire,user_type,x_sp,y_sp,zip_city,zipcode
0,8 COLUMBUS AVENUE,1.011310e+09,1076229.0,106099,1014500,1,Manhattan,No,No,No,...,11,190422,No,No,No,Volunteer,988418.6997,219825.5227,New York,10023
1,120 WEST 60 STREET,1.011310e+09,1076229.0,106099,1014500,1,Manhattan,No,No,No,...,11,190426,No,No,No,Volunteer,988311.1900,219885.2785,New York,10023
2,311 WEST 50 STREET,1.010410e+09,1086093.0,103940,1012700,1,Manhattan,No,No,No,...,9,208649,No,No,No,Volunteer,987769.1163,217157.8561,New York,10019
3,65 JEROME AVENUE,NaN,NaN,407443,5006400,5,Staten Island,No,No,No,...,6,209610,No,No,No,TreesCount Staff,963073.1998,156635.5542,Staten Island,10305
4,638 AVENUE Z,3.072350e+09,3320727.0,207508,3037402,3,Brooklyn,No,No,No,...,21,192755,No,No,No,TreesCount Staff,992653.7253,152903.6306,Brooklyn,11223

You can read more about paging using the Socrata API [here](https://dev.socrata.com/docs/paging.html)

In these docs, you'll also see more advanced functions (called `SoQL`) under the "filtering and query" section. These functions should be reminding you of SQL.

Think about the shape you want your data to be in before querying it. Using `SoQL` is a good way to avoid the limits of the API. For example, using the below query I can easily obtain the count of each species of tree in the Bronx:

In [6]:
boro = 'Bronx'
soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=spc_common,count(tree_id)' +\
        '&$where=boroname=\'Bronx\'' +\
        '&$group=spc_common').replace(' ', '%20')
soql_trees = pd.read_json(soql_url)

soql_trees

     count_tree_id             spc_common
0             4619                    NaN
1              662           silver maple
2               18         pagoda dogwood
3             3917      littleleaf linden
4               12         American larch
5             1483       northern red oak
6             1889              green ash
7                7         pignut hickory
8               56     eastern cottonwood
9              177            shingle oak
10              26  two-winged silverbell
11              41          kousa dogwood
12               7         bigtooth aspen
13             158       eastern redcedar
14             102         horse chestnut
15              11                  holly
16              26             arborvitae
17             195     crimson king maple
18             354           black locust
19              54       Turkish hazelnut
20             904               sweetgum
21            2555                Sophora
22               5          quaking aspen
23              62           tulip-poplar
24             133                catalpa
25             579    Japanese tree lilac
26              85           bald cypress
27              31         American beech
28              45           crepe myrtle
29              74      Japanese hornbeam
..             ...                    ...
103            295      American hornbeam
104             64           black cherry
105             32         Amur cork tree
106             35        paperbark maple
107             80                bur oak
108              1          Virginia pine
109             55      Japanese snowbell
110            507             crab apple
111             43           tartar maple
112             11       southern red oak
113             62               magnolia
114             31     Chinese fringetree
115              3           Osage-orange
116            472               hawthorn
117            174              white ash
118            150      flowering dogwood
119              1        Himalayan cedar
120             14         European beech
121             27         weeping willow
122              6            Atlas cedar
123             17               boxelder
124           7511       London planetree
125             10               red pine
126           1321            Chinese elm
127             29       Persian ironwood
128            362            sugar maple
129            170       Cornelian cherry
130            203              white oak
131             88    Kentucky yellowwood
132              6         European alder

[133 rows x 2 columns]

This behavior is very common with web APIs, and I think this is useful when thinking about building interactive data products. When in a Jupyter Notebook or RStudio, there's an expectation that (unless you're dealing with truly large datasets) the data you want can be brought in memory and manipulated.

Dash and Shiny abstract away the need to distinguish between client side and server side to make web development more accessible to data scientists. This can lead to some unintentional design mistakes if you don't think about how costly your callback functions are (for example: nothing will stop you in dash from running a costly model triggered whenever a dropdown is called.)

The goal of using the Socrata is to force you to think about where your data operations are happening, and not resort to pulling in the data and performing all operations in local memory.

----------

**NOTE**: One tip in dealing with URLs: you may need to replace spaces with `'%20'`. I personally just write out the url and then follow the string with a replace:

In [7]:
'https://api-url.com/?query with spaces'.replace(' ', '%20')

'https://api-url.com/?query%20with%20spaces'

In [8]:
# let's look at the Borough, tree count and health distribution
q1_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=boroname, health, count(tree_id)' +\
        '&$group=boroname, health').replace(' ', '%20')

q1 = pd.read_json(q1_url)

q1

         boroname  count_tree_id health
0           Bronx          10887   Fair
1           Bronx          66603   Good
2           Bronx           3095   Poor
3           Bronx           4618    NaN
4        Brooklyn          25073   Fair
5        Brooklyn         138212   Good
6        Brooklyn           6459   Poor
7        Brooklyn           7549    NaN
8       Manhattan          11460   Fair
9       Manhattan          47358   Good
10      Manhattan           3609   Poor
11      Manhattan           2996    NaN
12         Queens          34549   Fair
13         Queens         194008   Good
14         Queens           9417   Poor
15         Queens          12577    NaN
16  Staten Island          14535   Fair
17  Staten Island          82669   Good
18  Staten Island           4238   Poor
19  Staten Island           3876    NaN

In [9]:
# Let's prepare data with sql hack - clean and merge back to get what we need
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [10]:
# filter out NaN health status, get spc_common, count tree
soql_url = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=boroname, spc_common, health, status, count(tree_id)' +\
         '&$where=health!=\'NaN\'' +\
        '&$group=boroname, spc_common, health, status').replace(' ', '%20')
soql_trees = pd.read_json(soql_url)

# filter out NaN health status, get steward, count tree
soql_url_2 = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=boroname, health, steward, count(tree_id)' +\
         '&$where=health!=\'NaN\'' +\
        '&$group=boroname, health, steward').replace(' ', '%20')
soql_trees_2 = pd.read_json(soql_url_2)

# filter out NaN health status, count tree group by spc_common, health status and steward (count all without regional difference)
soql_url_3 = ('https://data.cityofnewyork.us/resource/nwxe-4ae8.json?' +\
        '$select=spc_common, health, steward, count(tree_id)' +\
         '&$where=health!=\'NaN\'' +\
        '&$group=spc_common, health, steward').replace(' ', '%20')
soql_trees_3 = pd.read_json(soql_url_3)

We introduce three levels of granularity for the count of trees, by borough and then by region. After that, we look at the overall level, i.e. counting the total number of trees without a regional/geographical filter. Next, let's get the count of trees based on different levels of aggregation.

In [11]:
# aggregate by boroname, spc_common and then merge it back with soql_trees
soql_trees_temp = soql_trees.groupby(['boroname', 'spc_common']).agg({'count_tree_id': [np.sum]})
soql_trees_temp_b =pd.DataFrame(soql_trees_temp.to_records())
soql_merged_1 = pd.merge(soql_trees, soql_trees_temp_b, on=['boroname','spc_common'])
soql_merged_1.columns = ['boroname', 'count_tree_id','health', 'spc_common', 'status', 'total_count_tree_id']
soql_merged_1.head(10)

,boroname,count_tree_id,health,spc_common,status,total_count_tree_id
0,Bronx,2,Fair,Chinese chestnut,Alive,2
1,Queens,21,Fair,pine,Alive,26
2,Queens,5,Poor,pine,Alive,26
3,Queens,62,Good,pagoda dogwood,Alive,62
4,Brooklyn,56,Good,cockspur hawthorn,Alive,56
5,Bronx,538,Fair,cherry,Alive,742
6,Bronx,204,Poor,cherry,Alive,742
7,Manhattan,23,Good,holly,Alive,23
8,Staten Island,131,Good,American hophornbeam,Alive,131
9,Queens,6,Fair,cucumber magnolia,Alive,8

In [12]:
# aggregate by boroname, health and then merge it back with soql_trees_2 
soql_trees_2_temp = soql_trees_2.groupby(['boroname', 'health']).agg({'count_tree_id': [np.sum]})
soql_trees_2_temp_b = pd.DataFrame(soql_trees_2_temp.to_records())
soql_merged_2 = pd.merge(soql_trees_2, soql_trees_2_temp_b, on=['boroname', 'health'])
soql_merged_2.columns = ['boroname', 'count_tree_id', 'health','steward', 'total_count_tree_id']
soql_merged_2.head(10)

  boroname  count_tree_id health  steward  total_count_tree_id
0    Bronx           2130   Fair     1or2                10887
1    Bronx            125   Fair     3or4                10887
2    Bronx              7   Fair  4orMore                10887
3    Bronx           8625   Fair     None                10887
4    Bronx          12038   Good     1or2                66603
5    Bronx            689   Good     3or4                66603
6    Bronx             62   Good  4orMore                66603
7    Bronx          53814   Good     None                66603
8    Bronx            640   Poor     1or2                 3095
9    Bronx             41   Poor     3or4                 3095

In [13]:
# aggregate by spc_common, health and then merge it back with soql_trees_3
soql_trees_3_temp = soql_trees_3.groupby(['spc_common', 'health']).agg({'count_tree_id': [np.sum]})
soql_trees_3_temp_b =pd.DataFrame(soql_trees_3_temp.to_records())
soql_merged_3 = pd.merge(soql_trees_3, soql_trees_3_temp_b, on=['spc_common','health'])
soql_merged_3.columns = ['count_tree_id', 'health', 'spc_common','steward', 'total_count_tree_id']
soql_merged_3.head(10)

   count_tree_id health        spc_common  steward  total_count_tree_id
0              2   Poor        crab apple     3or4                   47
1             45   Poor        crab apple     1or2                   47
2              1   Poor  southern red oak     3or4                    2
3              1   Poor  southern red oak     1or2                    2
4            883   Good           pin oak     3or4                 8570
5           7592   Good           pin oak     1or2                 8570
6             95   Good           pin oak  4orMore                 8570
7            273   Good   swamp white oak     3or4                 2015
8           1714   Good   swamp white oak     1or2                 2015
9             28   Good   swamp white oak  4orMore                 2015

Now we can calculate the proportion - the number of trees per category per borough. Let's gather the data we need for answering the questions.

In [14]:
# proportion of tree by borough, spc and health status
soql_merged_1['prop_health'] = soql_merged_1['count_tree_id'] / soql_merged_1['total_count_tree_id']
soql_merged_1.sort_values(by=['boroname','health'])
q1 = soql_merged_1[['boroname','health','spc_common','prop_health']]
q1.head(10)

        boroname health            spc_common  prop_health
0          Bronx   Fair      Chinese chestnut     1.000000
1         Queens   Fair                  pine     0.807692
2         Queens   Poor                  pine     0.192308
3         Queens   Good        pagoda dogwood     1.000000
4       Brooklyn   Good     cockspur hawthorn     1.000000
5          Bronx   Fair                cherry     0.725067
6          Bronx   Poor                cherry     0.274933
7      Manhattan   Good                 holly     1.000000
8  Staten Island   Good  American hophornbeam     1.000000
9         Queens   Fair     cucumber magnolia     0.750000

In [15]:
# proportion of tree by borough, steward and health status
soql_merged_2['prop_steward'] = soql_merged_2['count_tree_id'] / soql_merged_2['total_count_tree_id']
soql_merged_2.sort_values(by=['boroname','steward'])
q2 = soql_merged_2[['boroname','health','steward','prop_steward']]
q2.head(10)

  boroname health  steward  prop_steward
0    Bronx   Fair     1or2      0.195646
1    Bronx   Fair     3or4      0.011482
2    Bronx   Fair  4orMore      0.000643
3    Bronx   Fair     None      0.792229
4    Bronx   Good     1or2      0.180743
5    Bronx   Good     3or4      0.010345
6    Bronx   Good  4orMore      0.000931
7    Bronx   Good     None      0.807982
8    Bronx   Poor     1or2      0.206785
9    Bronx   Poor     3or4      0.013247

In [16]:
# proportion of tree by spc, steward and health status
soql_merged_3['prop_steward'] = soql_merged_3['count_tree_id'] / soql_merged_3['total_count_tree_id']
soql_merged_3.sort_values(by=['spc_common','steward'])
q3 = soql_merged_3[['spc_common', 'health','steward','prop_steward']]
q3.head(10)

         spc_common health  steward  prop_steward
0        crab apple   Poor     3or4      0.042553
1        crab apple   Poor     1or2      0.957447
2  southern red oak   Poor     3or4      0.500000
3  southern red oak   Poor     1or2      0.500000
4           pin oak   Good     3or4      0.103034
5           pin oak   Good     1or2      0.885881
6           pin oak   Good  4orMore      0.011085
7   swamp white oak   Good     3or4      0.135484
8   swamp white oak   Good     1or2      0.850620
9   swamp white oak   Good  4orMore      0.013896

In [ ]:
import dash
import dash_core_components as dcc
import dash_html_components as html

es = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

df = q1

spc = df['spc_common'].unique()

app = dash.Dash(__name__, external_stylesheets=es)

app.layout = html.Div([
    html.H1('Find the Proportion of Health by Borough for each SPC'),
    html.Div('''
        spc_common
    '''),
    dcc.Dropdown(
        id='my-dropdown',
        options=[{'label': i, 'value': i} for i in spc],
        value='pine'
    ),
    dcc.Graph(
        id='example-graph'    
    )    
])

@app.callback(
    dash.dependencies.Output('example-graph', 'figure'),
    [dash.dependencies.Input('my-dropdown', 'value')])

def update_output(selected_dropdown_value):
    dfTemp = df[df['spc_common'] == selected_dropdown_value]
    figure = {
            'data': [
                {'x': dfTemp.boroname[dfTemp['health'] == 'Good'], 'y': dfTemp.prop_health[dfTemp['health'] == 'Good'], 'type': 'bar', 'name': 'Good'},
                {'x': dfTemp.boroname[dfTemp['health'] == 'Fair'], 'y': dfTemp.prop_health[dfTemp['health'] == 'Fair'], 'type': 'bar', 'name': 'Fair'},
                {'x': dfTemp.boroname[dfTemp['health'] == 'Poor'], 'y': dfTemp.prop_health[dfTemp['health'] == 'Poor'], 'type': 'bar', 'name': 'Poor'}
            ],
            'layout': {
                'title': 'Prop. of health by borough'
            }
        }
    return figure 


if __name__ == '__main__':
    app.run_server()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)

In [ ]:
import dash
import dash_core_components as dcc
import dash_html_components as html

es = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

df = q2

boroname = df['boroname'].unique()

app = dash.Dash(__name__, external_stylesheets=es)

app.layout = html.Div([
    html.H1('Find the Proportion of Steward by Health for Each Borough'),
    html.Div('''
        boroname
    '''),
    dcc.Dropdown(
        id='my-dropdown',
        options=[{'label': i, 'value': i} for i in boroname],
        value='Brooklyn'
    ),
    dcc.Graph(
        id='example-graph'    
    )
])

@app.callback(
    dash.dependencies.Output('example-graph', 'figure'),
    [dash.dependencies.Input('my-dropdown', 'value')])

def update_output(selected_dropdown_value):
    dfTemp = df[df['boroname'] == selected_dropdown_value]
    figure = {
            'data': [
                {'x': dfTemp.health[dfTemp['steward'] == 'None'], 'y': dfTemp.prop_steward[dfTemp['steward'] == 'None'], 'type': 'bar', 'name': 'None'},
                {'x': dfTemp.health[dfTemp['steward'] == '1or2'], 'y': dfTemp.prop_steward[dfTemp['steward'] == '1or2'], 'type': 'bar', 'name': '1or2'},
                {'x': dfTemp.health[dfTemp['steward'] == '3or4'], 'y': dfTemp.prop_steward[dfTemp['steward'] == '3or4'], 'type': 'bar', 'name': '3or4'},
                {'x': dfTemp.health[dfTemp['steward'] == '4orMore'], 'y': dfTemp.prop_steward[dfTemp['steward'] == '4orMore'], 'type': 'bar', 'name': '4orMore'}
            ],
            'layout': {
                'title': 'Prop. of Steward by health'
            }
        }
    return figure 


if __name__ == '__main__':
    app.run_server()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)

In [ ]:
import dash
import dash_core_components as dcc
import dash_html_components as html

es = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

df = q3

spc = df['spc_common'].unique()

app = dash.Dash(__name__, external_stylesheets=es)

app.layout = html.Div([
    html.H1('Find the Proportion of Steward by Health for each SPC'),
    html.Div('''
        spc_common
    '''),
    dcc.Dropdown(
        id='my-dropdown',
        options=[{'label': i, 'value': i} for i in spc],
        value='pine'
    ),
    dcc.Graph(
        id='example-graph'    
    )    
])

@app.callback(
    dash.dependencies.Output('example-graph', 'figure'),
    [dash.dependencies.Input('my-dropdown', 'value')])

def update_output(selected_dropdown_value):
    dfTemp = df[df['spc_common'] == selected_dropdown_value]
    figure = {
            'data': [
                {'x': dfTemp.health[dfTemp['steward'] == 'None'], 'y': dfTemp.prop_steward[dfTemp['steward'] == 'None'], 'type': 'bar', 'name': 'None'},
                {'x': dfTemp.health[dfTemp['steward'] == '1or2'], 'y': dfTemp.prop_steward[dfTemp['steward'] == '1or2'], 'type': 'bar', 'name': '1or2'},
                {'x': dfTemp.health[dfTemp['steward'] == '3or4'], 'y': dfTemp.prop_steward[dfTemp['steward'] == '3or4'], 'type': 'bar', 'name': '3or4'},
                {'x': dfTemp.health[dfTemp['steward'] == '4orMore'], 'y': dfTemp.prop_steward[dfTemp['steward'] == '4orMore'], 'type': 'bar', 'name': '4orMore'}
            ],
            'layout': {
                'title': 'Prop. of Steward by health'
            }
        }
    return figure 


if __name__ == '__main__':
    app.run_server()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)